absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
charset-normalizer
click
datasets
deepspeed
dill
docstring_parser
einops
et-xmlfile
eval_type_backport
filelock
fire
frozenlist
fsspec
h5py
hjson
huggingface-hub
idna
importlib_metadata
Jinja2
joblib
jsonlines
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
networkx
ninja
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
openpyxl
packaging
pandas
pandas-stubs
peft
pillow
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pydantic
pydantic_core
Pygments
python-dateutil
pytz
PyYAML
regex
requests
rich
rouge_score
safetensors
sentencepiece
shtab
six
sympy
tensorboardX
termcolor
tokenizers
tqdm
transformers
triton
trl
typeguard
types-pytz
typing_extensions
tyro
tzdata
urllib3
xxhash
yarl
zipp
